:root {
  --color-lightest: #fff4e6;
  --color-light: #ecd7bd;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: #ceddec;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  overflow-y: auto;
  min-height: 100vh;
}

.title {
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 0%;
}

.title-text {
  font-size: 50px;
  color: #ff922b;
  font-weight: bold;
  font-family: monospace;
}

.footer {
  position: absolute;
  top: 87%;
  left: 48%;
}

.footer h4 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: sans-serif;
}

.footer p {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: sans-serif;
}

.balance {
  color: var(--color-dark);
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
}

.button {
  background-color: var(--color-medium);
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}

.sidebar {
  border: 3px solid var(--color-medium);
  border-radius: 10px;
  padding: 10px;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
  border-bottom: 2px solid var(--color-dark);
}

.selected,
.sidebar li:hover {
  background-color: var(--color-light);
  color: rgb(39, 33, 33);
  cursor: pointer;
}

.sidebar li img {
  border-radius: 50%;
  width: 120%;
  grid-row: span 2;
  height: 50px;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
  font-weight: bold;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}

.green {
  color: #66a80f;
  font-weight: bold;
}

.red {
  color: #e03131;
  font-weight: bold;
}

form {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--color-light);
  border-radius: 7px;
}

.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}
.form-split-bill {
  grid-template-columns: 1fr 12rem;
  padding: 2.2rem 4rem;
}

label {
  font-weight: 500;
  color: #161616;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input,
select {
  font-family: inherit;
  color: #161616;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

form .button {
  margin-top: 0.6rem;
  grid-column: 2;
}

form h2 {
  grid-column: 1 / -1;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
  font-weight: bold;
  color: #343a40;
}

form input {
  color: #343a40;
}

form select {
  color: #343a40;
}

.hthree {
  font-weight: bold;
  margin-left: 15px;
  font-size: 30px;
  color: var(--color-dark);
}

.clearList {
  display: flex;
  gap: 10px;
  margin-left: 7rem;
}

.tip-section {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 55.5%;
  left: 67.1%;
}

.copyright {
  font-family: cursive;
  background-color: var(--color-dark);
  width: 6rem;
  padding: 2px;
  padding-left: 10px;
  font-size: 14px;
  position: absolute;
  top: 96%;
  left: 95.5%;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .app {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    border: 3px solid var(--color-dark);
    border-radius: 10px;
  }
  .sidebar {
    border: none;
    padding: 0;
  }
  .sidebar ul {
    margin-bottom: 0;
  }
  .form-split-bill {
    grid-template-columns: 1fr;
    padding: 1.2rem;
  }
  .title {
    justify-content: center;
    position: relative;
    left: 4%;
    top: -4rem;
  }
  footer {
    position: relative;
    top: 9%;
    left: 1%;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 0.6rem 1rem;
  }
  .sidebar li {
    grid-template-columns: 3.8rem 1fr auto;
  }
  .sidebar li img {
    width: 100%;
    height: 40px;
  }
  .hthree {
    font-size: 24px;
  }
  .title {
    justify-content: center;
    position: relative;
    left: 4%;
    top: -4rem;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 1rem 1.5rem;
    border: 3px solid var(--color-dark);
    border-radius: 15px;
  }
  .button {
    padding: 0.4rem 0.8rem;
    margin-top: 3px;
  }
  .sidebar li {
    grid-template-columns: 3rem 1fr auto;
  }
  .sidebar li img {
    width: 80%;
    height: 30px;
  }
  .hthree {
    font-size: 18px;
    margin-left: 0;
  }
  .clearList {
    margin-left: 0;
  }
  .title {
    justify-content: center;
    position: relative;
    left: 4%;
    top: -4rem;
  }
  .footer {
    position: relative;
    top: 8%;
    left: 1%;
  }

  .footer h4 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
  }

  .footer p {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  .copyright {
    display: none;
    
  }

  .container1 {
    /* max-width: 100%; */
    position: relative;
    width: 40rem;
    height: 20rem;
    border-radius: 30px;
    padding: 1.1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    position: relativ/e;
    border: 2px solid #ff922b;
    margin-left: -5px;
  }
}

/* TIP COMPONENT STYLES */
.container1 {
  max-width: 100%;
  width: 20rem;
  height: 22.5rem;
  border-radius: 30px;
  padding: 0.5rem;
  padding-left: 5px;
  padding-top: 5px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0px auto;
  position: relative;
  border: 2px solid #ff922b;
  margin-left: -5px;

}
.label1 {
  color: #161616;
  margin-top: -2px;
  font-size: 13px;
  font-family: sans-serif;
  
}
.title1 {
  font-size: 1.5rem;
  margin-left: 3rem;

}

.select {
  width: 16rem;
  font-size: 14px;
  padding: 2px;
}

.footer1{
  margin-top: 0px;
}

.input1{
  /* margin-top: -10px; */
  margin: 0.5px;
}